body {
  font-family: Arial;
  padding: 10px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
  gap: 15px;
}

.product {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

.product img {
  width: 100%;
}

button {
  background: black;
  color: white;
  border: none;
  padding: 8px;
  width: 100%;
}
